body{
    width: 95vw;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.ticker{
    font-size: 23vw;
}
.asset{
    font-size: 13vw;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.date{
    font-size: 2vw;
}
.buttonHolder{
    padding-top: 30px;
}
.button{
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    background-color: #f44336;
    font-size: 6vw;
    margin: 10px;
    width: 500px;
    height: 140px;
}
.openbtn{
    display:block !important;
    position:absolute;
    float:right;
    right: 0;
    border: none;
    background: none;
    color: #ccc;
    width: 60px;
    height: 34px;
    font-size: 40px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    color:white;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    padding-left: 2em;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.switch {
    display:block !important;
    position:absolute;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f44336;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f44336;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}